<footer>

	<div id='navLinks'>
		<ul>
			<a href="{{ path('app_about') }}">
				<li>A propos</li>
			</a>
			<a href="{{ path('app_partnairs') }}">
				<li>Partenaire(s)</li>
			</a>
			<a href="{{ path('app_disclaimer') }}"><li>Mentions légales</li></a>
			<a href="{{ path('app_dmca') }}"><li>Informations DMCA</li></a>
		</ul>
	</div>

	<div>
		<p>© Copyright 2023 / Tous droits réservés /
			<a href="{{ path('app_home') }}">
				Cognitive Chronicles Game
			</a>
		</p>
	</div>

</footer>
