{% extends 'base.html.twig' %}

{% block title %}Catégorie
{% endblock %}

{% block body %}
	{% block toptext %}
		<div id='topContent'>
			<div class="topText topWithFont">
				<p class="gradient-text">Les catégories</p>
			{% endblock %}

			{% block pagecontent %}
				<div id="backgroundContent">
					<section>

						<div class="blockContent accordion accordion-flush" id="accordionFlushExample">
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
										{{ category1.name}}
									</button>
								</h2>
								<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
									{% for subCategory in subCategory1.subCategories %}
										<div class="accordion-body">{{ subCategory.name }}</div>
									{% endfor %}
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
										{{ category2.name}}
									</button>
								</h2>
								<div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
									{% for subCategory in subCategory2.subCategories %}
										<div class="accordion-body">{{ subCategory.name }}</div>
									{% endfor %}
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
										{{ category3.name}}
									</button>
								</h2>
								<div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
									{% for subCategory in subCategory3.subCategories %}
										<div class="accordion-body">{{ subCategory.name }}</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		{% endblock %}
	{% endblock %}
